.container {
    padding-top: 20px;
}
.slide-enter {
    opacity: 0;
}
.slide-enter-active {
    transition: opacity .5s;
}
.slide-leave-active {
    transition: opacity .5s;    
}
.slide-leave-to {
    opacity: 0;
}