.my-table {
  border-collapse: collapse;
}
.my-table td {
  border: 1px solid black;
  padding: 3px 5px;
}

.clock .hours {
  color: rgb(116, 7, 7);
}
.clock .minutes {
  color: rgb(2, 102, 32);
}
.clock .seconds {
  color: rgb(11, 21, 114);
}

.ex-body {
  position: relative;
}

.one-nine-one {
  display: flex;
}
.one-nine-one .elem {
  width: 100px;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.one-nine-one .scroll-value {
  font-size: 24px;
  font-weight: bold;
  padding-left: 50px;
}