.three-one-one li.selected {
  background-color: rgb(115, 221, 248);
}
.three-one-one li {
  cursor: pointer;
}

.three-two-one .my-tooltip {
  position: fixed;
  z-index: 100;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.three-two-one .house {
  margin-top: 50px;
  width: 400px;
  border: 1px solid brown;
}

.three-two-one .roof {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 20px solid brown;
  margin-top: -20px;
}

.three-two-one p {
  text-align: justify;
  margin: 10px 3px;
}

.three-two-two {
  position: relative;
}

.three-two-two .hours {
  color: red;
}

.three-two-two .minutes {
  color: green;
}

.three-two-two .seconds {
  color: blue;
}

.three-two-two .clock {
  border: 1px dashed black;
  padding: 5px;
  display: inline-block;
  background: yellow;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .3;
}

.three-two-two .my-tooltip {
  position: absolute;
  background: #eee;
  border: 1px brown solid;
  padding: 3px;
}

.three-three-one .slider {
  border-radius: 5px;
  background: #E0E0E0;
  background: linear-gradient(left top, #E0E0E0, #EEEEEE);
  width: 310px;
  height: 15px;
  margin: 5px;
  position: relative;
}

.three-three-one .thumb {
  width: 10px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  left: 10px;
  top: -5px;
  background: blue;
  cursor: pointer;
}

.three-three-two .hero {
  background: url(https://js.cx/drag-heroes/heroes.png);
  width: 130px;
  height: 128px;
  float: left;
}

.three-three-two .hero1 {
  background-position: 0 0;
}

.three-three-two .hero2 {
  background-position: 0 -128px;
}

.three-three-two .hero3 {
  background-position: -120px 0;
}

.three-three-two .hero4 {
  background-position: -125px -128px;
}

.three-three-two .hero5 {
  background-position: -248px -128px;
}

.three-three-two .hero6 {
  background-position: -244px 0;
}