.two-one-four .field {
  width: 500px;
  height: 300px;
  border: 10px solid black;
  background-color: #00FF00;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.two-one-four .ball {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s ease-out;
}

.two-one-five .toggle-list {
  display: flex;
  cursor: pointer;
  user-select: none;
}
.two-one-five .arrow {
  color: rgb(42, 212, 235);
  margin-right: 10px;
}
.two-one-five .closed .arrow {
  transform: rotate(-90deg);
}

.two-one-five ul{
  list-style: none;
  padding-inline-start: 30px;
}
.two-one-five .closed ul {
  display: none;
}