.two-one-four .field {
  width: 500px;
  height: 300px;
  border: 10px solid black;
  background-color: #00FF00;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.two-one-four .ball {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s ease-out;
}

.two-one-five .toggle-list {
  display: flex;
  cursor: pointer;
  user-select: none;
}
.two-one-five .arrow {
  color: rgb(42, 212, 235);
  margin-right: 10px;
}
.two-one-five .closed .arrow {
  transform: rotate(-90deg);
}

.two-one-five ul{
  list-style: none;
  padding-inline-start: 30px;
}
.two-one-five .closed ul {
  display: none;
}

.two-one-six h3, .two-three-one h3{
  margin: 0;
  padding-bottom: .3em;
  font-size: 1.1em;
}

.two-one-six p, .two-three-one p{
  margin: 0;
  padding: 0 0 .5em;
}
.two-one-six .panes-wrapper, .two-three-one .panes-wrappe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.two-one-six .pane, .two-three-one .pane{
  max-width: 500px;
  background: #edf5e1;
  padding: 10px 20px 10px;
  border-top: solid 2px #c4df9b;
  position: relative;
}

.two-one-six .remove-button, .two-three-one .remove-button {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 110%;
  color: darkred;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.two-one-seven .carousel {
  position: relative;
  margin-left: 50px;
  width: 390px;
}

.two-one-seven .gallery {
  width: 390px;
  overflow: hidden;
}

.two-one-seven .arrow {
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
  position: absolute;
}
.arrow-left {
  top: 50%;
  left: -40px;
  transform: translate(0, -50%);
}
.arrow-right {
  top: 50%;
  right: -40px;
  transform: translate(0, -50%);
}
.two-one-seven .arrow:focus {
  outline: none;
}

.two-one-seven .arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.two-one-seven ul {
  height: 130px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  transform: translate(0, 0);
  transition: transform .5s ease-out;
}

.two-one-seven ul img {
  width: 130px;
  height: 130px;
  display: block; 
}

.two-one-seven ul li {
  display: inline-block;
}