.four-two-one .view,
.four-two-one .edit {
  height: 150px;
  width: 400px;
  font-family: sans-serif;
  font-size: 14px;
  display: block; }

.four-two-one .view {
  padding: 2px;
  border: 1px solid black; }

.four-two-one .edit {
  border: 3px solid blue;
  padding: 0px; }

.four-two-one .edit:focus {
  outline: none; }

.four-two-two th {
  text-align: center;
  font-weight: bold; }

.four-two-two td {
  width: 150px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.four-two-two .nw {
  background-color: #999; }

.four-two-two .n {
  background-color: #03f;
  color: #fff; }

.four-two-two .ne {
  background-color: #ff6; }

.four-two-two .w {
  background-color: #ff0; }

.four-two-two .c {
  background-color: #60c;
  color: #fff; }

.four-two-two .e {
  background-color: #09f;
  color: #fff; }

.four-two-two .sw {
  background-color: #963;
  color: #fff; }

.four-two-two .s {
  background-color: #f60;
  color: #fff; }

.four-two-two .se {
  background-color: #0c3;
  color: #fff; }

.four-two-two .td-edit {
  padding: 0;
  position: relative; }

.four-two-two .edit {
  width: 170px;
  height: 96px;
  display: block;
  margin: 0;
  padding: 0;
  resize: none;
  white-space: nowrap;
  outline: none;
  border: none;
  overflow: auto; }

.four-two-two .edit-controls {
  position: absolute;
  bottom: -23px; }
