.task__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px; }

.task__title {
  margin: 0;
  font-size: 20px; }

.task__link {
  margin-left: 20px; }

.task__link svg {
  fill: #0059b2; }

.task__link svg:hover {
  fill: #ba1000; }

.task__code {
  position: relative;
  display: block; }

.task__code .ex-code {
  display: block;
  height: 300px;
  white-space: pre !important; }

.task__perform {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: #c4c2c0;
  text-align: center;
  line-height: 30px;
  font-size: 16px; }
