.new-appearance .list-title {
  font-size: 22px; }

.task__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0; }
  .task__header i {
    color: #0059b2; }
  .task__header i:hover {
    color: #ba1000; }

.task__title {
  margin: 0;
  font-size: 18px; }

.task__link {
  margin-left: 20px; }

.task__code {
  position: relative;
  display: block;
  margin-bottom: 50px; }
  .task__code .ex-code {
    display: block;
    white-space: pre !important;
    overflow: scroll; }

.task__perform {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: #c4c2c0;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  cursor: pointer; }
  .task__perform i {
    color: #fff; }

.task__perform:hover {
  background: #95928e; }
