include ../components/codeEx.pug

doctype html
head
  link(rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png")
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  title OtherJS_7
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
  link(rel="stylesheet", href="../styles/main.css")
  link(rel="stylesheet", href="../styles/task.css")
  link(rel="stylesheet", href="../libs/prism.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")

body
  h1 Регулярные выражения

  .my-container.new-appearance
    .list-title 7.6 Граница слова: \b
    - 
      let sevenSixOne = { 
        taskNumber: 'sevenSixOne',
        link: 'https://learn.javascript.ru/task/find-time-hh-mm',
        title: 'Найдите время',
      };
    +exercise(sevenSixOne)
      button ShowCircle
    

  script(src="script.js")
  script(src="../libs/prism.js")
    