include ../components/codeEx.pug

doctype html
head
  link(rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png")
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  title OtherJS_7
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
  link(rel="stylesheet", href="../styles/main.css")
  link(rel="stylesheet", href="../styles/task.css")
  link(rel="stylesheet", href="../libs/prism.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")

body
  h1 Регулярные выражения
  .my-container.new-appearance
    -
      let theme = {
        chapters: [
          {
            number: '7.6',
            title: 'Граница слова: \\b',
            tasks: [
              {
                number: '1',
                numberStr: 'sevenSixOne',
                link: 'https://learn.javascript.ru/task/find-time-hh-mm',
                title: 'Найдите время',
              },
            ],
          },
          {
            number: '7.8',
            title: 'Наборы и диапазоны [...]',
            tasks: [
              {
                number: '2',
                numberStr: 'sevenEightTwo',
                link: 'https://learn.javascript.ru/task/find-time-2-formats',
                title: 'Найдите время как hh:mm или hh-mm',
              },
            ],
          },
          {
            number: '7.9',
            title: 'Квантификаторы +, *, ? и {n}',
            tasks: [
              { 
                number: '1',
                numberStr: 'sevenNineOne',
                link: 'https://learn.javascript.ru/task/find-text-manydots',
                title: 'Как найти многоточие "..." ?',
              },
              {
                number: '2',
                numberStr: 'sevenNineTwo',
                link: 'https://learn.javascript.ru/task/find-html-colors-6hex',
                title: 'Регулярное выражение для HTML-цветов',
              },
            ],
          },
          {
            number: '7.10',
            title: 'Жадные и ленивые квантификаторы',
            tasks: [
              { 
                number: '2',
                numberStr: 'sevenTenTwo',
                link: 'https://learn.javascript.ru/task/find-html-comments',
                title: 'Поиск HTML-комментариев',
              },
              { 
                number: '3',
                numberStr: 'sevenTenThree',
                link: 'https://learn.javascript.ru/task/find-html-tags-greedy-lazy',
                title: 'Поиск HTML-тегов',
              },
            ],
          },
          {
            number: '7.11',
            title: 'Скобочные группы',
            tasks: [
              { 
                number: '1',
                numberStr: 'sevenElevenOne',
                link: 'https://learn.javascript.ru/task/find-webcolor-3-or-6',
                title: 'Найти цвет в формате #abc или #abcdef',
              },
              { 
                number: '2',
                numberStr: 'sevenElevenTwo',
                link: 'https://learn.javascript.ru/task/find-decimal-numbers',
                title: 'Найти все числа',
              },
              { 
                number: '3',
                numberStr: 'sevenElevenThree',
                link: 'https://learn.javascript.ru/task/parse-expression',
                title: 'Разобрать выражение',
              },
              { 
                number: '4',
                numberStr: 'sevenElevenFour',
                link: 'https://learn.javascript.ru/task/test-mac',
                title: 'Проверьте MAC-адрес',
              },
            ],
          },       
        ],
      };
    +themeContent(theme)
    +theme(theme)

  script(src="script.js")
  script(src="../scripts/main.js")
  script(src="../libs/prism.js")
    