mixin exercise(exObj)
  .task(data-task-number=exObj.taskNumber)
    .task__header
      h3.task__title= exObj.title
      a.task__link(href = exObj.link target="_blank")
        i(class="fas fa-share-square")
    .task__code
      code.ex-code.lang-js
      .task__perform
        i(class="fas fa-play")
