body{
    background-color: #101010;
}

#wrapper {
    width: 640px;
    margin: 10px auto;
}

nav { 
    background-color: rgb(250, 250, 250);
    width: 640px;
    padding-bottom: 5px;
}
#buttons {
    display: flex;
    align-items: center;
}
#defaultBar {
    width: 640px;
    position: relative;
    background-color: #606060;
    height: 10px;
    margin-bottom: 5px;
}
#progressBar {
    position: absolute;
    height: 100%;
    background-color: #3498db;
    width: 0px;
}

#playButton {
    background-color: #fff;
    border: none;
    height: 32px;
    width: 32px;
    background: url('../img/play.svg') no-repeat center;
    background-size: 85%;
}

#muteButton {
    background-color: #fff;
    border: none;
    height: 32px;
    width: 32px;
    background: url('../img/volume.svg') no-repeat center;
    background-size: 85%;
}

#muteButton:active, #playButton:active {
    position: relative;

}
.times {
    align-self: flex-end;
}
#audioBar {
    position: relative;
    width: 100px;
    height: 4px;
    margin: 0 10px;
    background-color: #606060;
}
#currentVolume {
    position: absolute;
    height: 100%;
    background-color: #3498db;
    width: 100px;
}








