#myDiv{
	width: 100%;
	padding: 50px 0;
	text-align: center;
	background-color: rgb(15, 199, 255);
	margin-top: 20px;
}
button{
	width: 100%;
}
.alert{
	padding: 20px;
	background-color: #f44336;
	color: white;
	opacity: 1;
	transition: opacity 0.6s;
	margin-bottom: 15px;
}

.alert.success {
	background-color: #4caf60;
}
.alert.info{
	background-color: #cab227;
}
.alert.warning{
	background-color: #6e0000;
}
.closebtn{
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.closebtn:hover{
	color: black;
}
