.eleven-one-one {
  button {
    margin-bottom: 30px;
  }
  .circle {
    transition-property: width, height, margin-left, margin-top;
    transition-duration: 2s;
    background-color: red;
    border-radius: 50%;
  }
}