@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto:400,700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
h1 {
  background: linear-gradient(0deg,#414141 0,#373636);
  color: #fff;
  margin-top: 0;
  padding: 0.67em;
  font-size: 36px;
}
.container {
  padding: 3%;
}
.list-title {
  font-size: 16px;  
  font-weight: 700;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
.list-sub {
  list-style: none;
  margin-bottom: 24px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}
.list-sub__item {
  margin: 0;
  padding-right: 20px;
  margin-bottom: 10px;
}
.number {
  font-size: 12px;
  line-height: 16px;
  padding-right: 5px;
}
.button {
  display: inline;
  color: #0059b2;

}
.button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.task-title {
  display: flex;
  margin: 0.67em 0;
}
.task-title svg{
  width: 16px;
  height: 18px;
  fill: #0059b2;
  padding-left: 20px;

}
h2 {
  font-size: 20px;
  margin: 0;
}
#linkTo{
  display: none;
}
#pOne {
  display: none;
  width: 100%;
  overflow: scroll;
  font-family: 'Inconsolata', monospace;
  white-space: pre;
  padding: 1em;
  background: #f5f2f0;
  color: #333;
  font-size: 14px;
}
.pOne__desc {
  display: none;
}
#hOne {
  font-size: 20px;
}
.keyword {
  color: #07a;
}
.chapter-header {
  margin-bottom: 16px;
}
.ex-window {
  border-top: 2px solid #eee;
  padding: 16px 0;
}
.ex-window h2 {
  margin-bottom: 10px;
}

.ex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ex-body, .ex-code {
  width: 50%;
  background: #f5f2f0;
  min-width: 550px;
  box-sizing: border-box;
}
.ex-body {
  padding: 20px;
}
.ex-code {
  display: flex;
  justify-content: center;
  min-height: 100px;
}
.start-button {
  height: auto;
  width: auto;
  padding: 10px 20px;
  border-radius: 10px;
  align-self: center;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: rgb(56, 106, 180);
}
#diagonal-table {
  border-collapse: collapse;
}
#diagonal-table td {
  border: 1px solid black;
  padding: 3px 5px;
}
@media only screen and (max-width: 1200px){
  .ex-body, .ex-code {
    width: 100%;
    min-width: auto;
    margin-bottom: 16px;
  }
}